@charset "UTF-8";

/* ----- */
/* FONTS */
/* ----- */

@font-face {
    font-family: "IBM Plex Mono Regular", monospace;
    src: url("assets/fonts/IBMPlexMono-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "IBM Plex Mono Italic", monospace;
    src: url("assets/fonts/IBMPlexMono-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "IBM Plex Mono Bold", monospace;
    src: url("assets/fonts/IBMPlexMono-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "IBM Plex Mono BoldItalic", monospace;
    src: url("assets/fonts/IBMPlexMono-BoldItalic.ttf") format("ttf");
}

/* ------ */
/* COLORS */
/* ------ */

:root {
    --color-primary: #000000;

    --color-primary-light: #1E1E1E;

    --color-accent: #7F7FFF;

    --color-text: #FFFFFF;
}

/* ---------------- */
/*  NATIVE ELEMENTS */
/* ---------------- */

/* Flexbox → Margin → Border → Padding → Height/Width → Typography → Miscellaneous */

body {
    display: flex;

    flex-direction: column;

    font-family: "IBM Plex Mono", monospace;

    background-color: var(--color-primary);

    color: var(--color-text);
}

nav.container {
    display: flex;

    padding: 0;

    overflow: hidden;
}

footer {
    text-align: center;
}

a:not(.nav-link) {
    text-decoration: none;

    color: var(--color-accent);

    transition: all 0.5s ease;
}

a:hover:not(.nav-link) {
    border-radius: 3px;

    padding: 1px 3px;

    background-color: var(--color-accent);

    color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

hr {
    margin: 12pt 0 12pt 0;
}

/* ---------------- */
/*  CUSTOM ELEMENTS */
/* ---------------- */

/* Flexbox → Margin → Border → Padding → Height/Width → Typography → Miscellaneous */

.container {
    margin: 0 auto 10px;

    border-radius: 10px;

    padding: 10px;

    box-sizing: border-box;

    width: 33.33%;

    background: var(--color-primary-light);
}

.nav-link {
    display: block;

    flex-grow: 1;

    padding: 10px;

    color: var(--color-accent);

    text-align: center;

    transition: all 0.5s ease;
}

.nav-link:hover {
    background-color: var(--color-accent);

    color: var(--color-primary);
}

.nav-link.active {
    background-color: var(--color-accent);

    color: var(--color-primary);
}

#assessment-container {
    display: flex;

    margin: 0;

    border-radius: 10px;

    height: 25vh;

    font-size: 2.0vh;

    color: #E0E0E0;

    align-items: center;

    cursor: pointer;

    justify-content: center;

    text-align: center;

    text-wrap: wrap;

    user-select: none;

    white-space: pre;
}

.assessment-info-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));

    gap: 10px;
}

.assessment-info-item {
    border-radius: 10px;

    padding: 10px;

    background-color: #2F2F2F;

    color: #E0E0E0;

    text-align: center;

    overflow: hidden;
}

@media (max-width: 1280px) { /* Set all containers' width to 100% when the page is below 1280 pixels wide. */
    .container {
        width: 100%;
    }
}